<%- include('./partials/header'); %>

    <body class="bg-gray-100">
        <div class="flex flex-col min-h-screen">
            <!-- Header -->
            <header class="bg-white shadow">
                <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                    <h1 class="text-3xl font-bold text-gray-900">Product Management</h1>
                </div>
            </header>

            <!-- Main content -->
            <main class="flex-1 overflow-y-auto">
                <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
                    <!-- Search Bar -->
                    <div class="mb-6">
                        <input type="text" id="searchbar" name="product_id" placeholder="Search by Product ID"
                            class="w-full p-2 border border-gray-300 rounded-l">
                    </div>

                    <!-- Product List by Category -->
                    <div class="bg-white shadow rounded-lg mb-6 p-6">
                        <h2 class="text-2xl font-semibold text-gray-800">
                            <%= products.length %>
                        </h2>
                        <div id="productContainer" class="w-full">
                            <% products.forEach(function(elem){ %>
                                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-4">
                                    <div class="bg-gray-50 p-4 rounded-lg shadow">
                                        <img class="w-32 h-32 mb-3"
                                            src="data:<%=elem.mimetype %>;base64, <%= elem.image.toString('base64') %>"
                                            alt="">
                                        <h3 class="text-lg font-medium text-gray-900">
                                            <%= elem.name %>
                                        </h3>
                                        <p class="mt-2 text-gray-600">Price: <%= elem.price %>
                                        </p>
                                        <p class="mt-2 text-gray-600">Stock: <%= elem.stock %>
                                        </p>
                                        <p class="mt-2 text-gray-600">
                                            <%= elem.description %>
                                        </p>
                                        <p class="mt-2 text-sm text-gray-500">Product ID: <%= elem._id %>
                                        </p>
                                        <div class="mt-5 flex gap-4">
                                            <a href="/products/delete/<%= elem._id %>"
                                                class="capitalize inline-block text-red-600">delete</a>
                                            <a href="" class="capitalize inline-block text-blue-600">update</a>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                        <div class="mt-4 text-center">
                            <a href="/admin/products?category=&page=2" class="text-indigo-600 hover:text-indigo-800">See
                                More</a>
                        </div>
                    </div>

                </div>
            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            document.querySelector("#searchbar").addEventListener("input", function (e) {
                axios.get(`/admin/search/${e.target.value}`)
                    .then(function (response) {
                        document.querySelector("#productContainer").innerHTML = ""
                        response.data?.forEach(function (elem) {
                            console.log(elem);
                            const base64Image = btoa(
                                String.fromCharCode(...new Uint8Array(elem.image.data))
                            );
                            document.querySelector("#productContainer").innerHTML += `  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-4">
                                    <div class="bg-gray-50 p-4 rounded-lg shadow">
                                        <img class="w-32 h-32 mb-3"
                                            src="data:${elem.mimetype};base64,${base64Image}" alt="">
                                        <h3 class="text-lg font-medium text-gray-900">
                                            ${elem.name}
                                        </h3>
                                        <p class="mt-2 text-gray-600">Price: ${elem.price}
                                        </p>
                                        <p class="mt-2 text-gray-600">Stock: ${elem.stock}
                                        </p>
                                        <p class="mt-2 text-gray-600">
                                        ${elem.description} 
                                        </p>
                                        <p class="mt-2 text-sm text-gray-500">Product ID:  ${elem._id}
                                        </p>
                                        <div class="mt-5 flex gap-4">
                                            <a href="/products/delete/${elem._id}"
                                                class="capitalize inline-block text-red-600">delete</a>
                                            <a href="" class="capitalize inline-block text-blue-600">update</a>
                                        </div>
                                    </div>
                                </div>`
                        })
                    })
                    .catch(function (err) {
                        console.log(err);
                    })
            })
        </script>
    </body>

    <%- include('./partials/footer'); %>